<form autocomplete="off" class="flexcol">
    <p>{{localize "DICESONICE.RollableAreaConfigDescription1"}}</p>
    <p>{{localize "DICESONICE.RollableAreaConfigDescription2"}}</p>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="apply">
            <i class="far fa-save"></i> {{localize "DICESONICE.Apply"}}
        </button>
        <button type="button" name="restore">
            <i class="fas fa-undo"></i> {{localize "DICESONICE.Restore"}}
        </button>
    </footer>
</form>